name: Cypress tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  install:
    runs-on: ubuntu-latest
  
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, electron, edge, webkit]
        viewport: [desktop, tablet, mobile]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - run: npm install -g npm@latest
      - run: npm --version
      - run: node --version
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.0
        with:
          command: npm run ${{ matrix.browser }}:${{ matrix.viewport }}:test

        env:
          CI: true

      - name: Create new awesome folder
        if: always()
        run: mkdir cypress/reports/awesomereports

      - name: Merge results to json
        if: always()
        run: npx mochawesome-merge cypress/reports/mocha/*.json > cypress/reports/awesomereports/${{ matrix.browser }}_${{ matrix.viewport }}.json
      - name: Generate html -page
        if: always()
        run: npx marge cypress/reports/awesomereports/${{ matrix.browser }}_${{ matrix.viewport }}.json -f ${{ matrix.browser }}_${{ matrix.viewport }} -o cypress/reports/awesomereports

      - name: Browse folder
        if: always()
        run: ls cypress/reports/awesomereports

      - name: 'Upload Artifact'
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: RESULTS   
          path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/awesomereports    
          retention-days: 1

      
      - uses: actions/download-artifact@master
        if: always()
        with:
          name: RESULTS
          path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/awesomereports 
      
      - name: Browse folder
        if: always()
        run: ls cypress/reports/awesomereports
      
      - name: Create folder summary
        if: always()
        run: mkdir cypress/reports/awesomereports/summary

      - name: Merge all results to one json
        if: always()
        run: npx mochawesome-merge cypress/reports/awesomereports/*.json > cypress/reports/awesomereports/summary/summary.json
      - name: Generate one html -page
        if: always()
        run: npx marge cypress/reports/awesomereports/summary/summary.json -f index -o cypress/reports/awesomereports/summary

      - name: 'Upload Artifact'
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: SUMMARY
          # path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/${{ matrix.browser }}/      
          path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/awesomereports/summary     
          retention-days: 1
      
  deploy_gh_page:
    if: always()
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@master
        with:
          name: SUMMARY
          path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/awesomereports/summary
      - run: ls 
      - run: ls /home/runner/work/cypress-docker/cypress-docker/cypress/reports/awesomereports/summary
      - name: Create folder public
        run: mkdir public
      - run: cp -r /home/runner/work/cypress-docker/cypress-docker/cypress/reports/awesomereports/summary/* public/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

      # - name: 'Upload Videos'
      #   if: always()
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: ${{ matrix.browser }}_${{ matrix.viewport }}_videos
      #     path: /home/runner/work/cypress-docker/cypress-docker/cypress/videos
      #     retention-days: 1

      # - name: 'Upload All Artifact'
      #   if: always()
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: all_reports
      #   # path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/${{ matrix.browser }}/      
      #     path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/     
      #     retention-days: 1

  # results:
  #   needs: install
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - uses: actions/download-artifact@master
  #       with:
  #         name: RESULTS
  #         path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/ci_results 
  #         # path: downloaded_artifacts
  #     - name: Test 1
  #       if: always()
  #       run: ls /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/ci_results
  #     - name: Test 2
  #       if: always()
  #       run: pwd

  #     - name: Create result folder
  #       run: mkdir results
  #     - name: Merge results to json
  #       if: always()
  #       run: npx mochawesome-merge /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/ci_results/*.json > results/summary_report.json
  #     - name: Generate html -page
  #       if: always()
  #       run: npx marge results/summary_report.json -f summary_report -o results

  #     - name: 'Upload Artifact'
  #       if: always()
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: RESULTS
  #         # path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/${{ matrix.browser }}/      
  #         path: results/   
  #         retention-days: 1
 
  #     - name: 'Upload results'
  #       if: always()
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: mochareports_results
  #         path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/
  #         retention-days: 1

    
  # ui-chrome-tests:

  #   runs-on: ubuntu-latest
  #   container:
  #     image: cypress/browsers:node16.13.0-chrome95-ff94

  #   strategy:
  #     # when one test fails, DO NOT cancel the other
  #     # containers, because this will kill Cypress processes
  #     # leaving the Dashboard hanging ...
  #     # https://github.com/cypress-io/github-action/issues/48
  #     fail-fast: false
  #     matrix:
  #       # run copies of the current job in parallel
  #       containers: [1]
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - name: "Install dependencies"
  #       run: npm install
  #     - name: "UI Tests - Chrome"
  #       uses: cypress-io/github-action@v4.2.0
  #       with:
  #         browser: chrome
  #         record: false
  #         spec: cypress/e2e/1-getting-started/*

    
