name: Cypress tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  install:
    runs-on: ubuntu-latest
    env:
      Greeting: Hello
      First_name: Anna
    permissions:
      id-token: write
      contents: write
    # container: 
    #   image: cypress/browsers:node16.13.0-chrome95-ff94
    #   options: --user 1001
    strategy:
      matrix:
        # browser: [chrome, firefox]
        # view: [mobile, desktop]    
        browser: [chrome, firefox]
        viewport: [desktop]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Testi
        run: echo "export $First_name=Krisse"
      - name: Testi2
        run: echo "$First_name"
      - if: ${{ matrix.viewport=='desktop' }}
        run: echo "$Greeting"
        env:
          First_name: Mona
   
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.0
        with:
            # # Disable running of tests within install job
            # runTests: false
            browser: ${{ matrix.browser }}
            spec: cypress/e2e/1-getting-started/todo.cy.ts
            # env: configFile=cypress.${{ matrix.view }}.json
            config: viewportWidth=320,viewportHeight=568
        # env:
        #   config: cypress.env.json
#           export CYPRESS_VIEWPORT_WIDTH=800
# export CYPRESS_VIEWPORT_HEIGHT=600

      
      # - run: npm run ${{ matrix.browser }}:${{ matrix.view }}:test
      - name: Create mochareports folder
        run: mkdir cypress/reports/mochareports
      - name: Create report ${{ matrix.browser }} folder
        run: mkdir cypress/reports/mochareports/${{ matrix.browser }}
      - name: Merge results to json
        if: always()
        run: npx mochawesome-merge cypress/reports/mocha/*.json > cypress/reports/mochareports/${{ matrix.browser }}/report.json
      - name: Generate html -page
        if: always()
        run: npx marge cypress/reports/mochareports/${{ matrix.browser }}/report.json -f report -o cypress/reports/mochareports/${{ matrix.browser }}
      - name: 'Upload Artifact'
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.browser }}_${{ matrix.viewport }}
          path: /home/runner/work/cypress-docker/cypress-docker/cypress/reports/mochareports/${{ matrix.browser }}/      
      - name: 'Upload Videos'
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.browser }}_${{ matrix.viewport }}_videos
          path: /home/runner/work/cypress-docker/cypress-docker/cypress/videos/todo.cy.ts.mp4 


  # ui-chrome-tests:

  #   runs-on: ubuntu-latest
  #   container:
  #     image: cypress/browsers:node16.13.0-chrome95-ff94

  #   strategy:
  #     # when one test fails, DO NOT cancel the other
  #     # containers, because this will kill Cypress processes
  #     # leaving the Dashboard hanging ...
  #     # https://github.com/cypress-io/github-action/issues/48
  #     fail-fast: false
  #     matrix:
  #       # run copies of the current job in parallel
  #       containers: [1]
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - name: "Install dependencies"
  #       run: npm install
  #     - name: "UI Tests - Chrome"
  #       uses: cypress-io/github-action@v4.2.0
  #       with:
  #         browser: chrome
  #         record: false
  #         spec: cypress/e2e/1-getting-started/*

    
